<footer>
    <div>
        <a href="https://www.afip.gob.ar/landing/default.asp"><img class='afip-image' src="/images/DATAWEB.jpg"></a>
        <p class="copy">Cabañas El Deseo® Www.ElDeseoDeCapilla.Com.Ar Copyright © 2012/2018 By: <a href="https://www.linkedin.com/in/valentin-ayoroa-401023245/">Valentin Ayoroa </a> </p>
    </div>
</footer>