<header>
    <div class="container-header">
        <img class="logo-header" src="/images/logo.png">
        <ul class="nav-bar-header">
            <li class="nav-bar-item">
                <a class="nav-bar-link" href="/#inicio">Inicio</a>
            </li>
            <li class="nav-bar-item">
                <a class="nav-bar-link" href="/#info">Info</a>
            </li>
            <li class="nav-bar-item">
                <a class="nav-bar-link" href="/#imagenes">Imagenes</a>
            </li>
            <li class="nav-bar-item">
                <a class="nav-bar-link" href="/#ubicacion">Ubicacion</a>
            </li>
            <li class="nav-bar-item">
                <a class="nav-bar-link" href="/contacto">Contacto y reservas</a>
            </li>
        </ul>
    </div>
</header>