<header>
    <div class="container-header">
        <img class="logo-header" src="/images/logo.png">
        <ul class="nav-bar-header">
            <li class="nav-bar-item">
                <a class="nav-bar-link" href="#home">Inicio</a>
            </li>
            <li class="nav-bar-item">
                <a class="nav-bar-link" href="#">Info</a>
            </li>
            <li class="nav-bar-item">
                <a class="nav-bar-link" href="#home">Imagenes</a>
            </li>
            <li class="nav-bar-item">
                <a class="nav-bar-link" href="#home">Ubicacion</a>
            </li>
            <li class="nav-bar-item">
                <a class="nav-bar-link" href="#contacto">Contacto y reservas</a>
            </li>
        </ul>
    </div>
</header>