<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/home.css">

  <body>
    <!--header-->
    <%- include('./partials/header.ejs') %>
      <main>
        <section class="inicio-home">
          <div class="slider">
            <ul>
              <li class="slider-item">
                <img class="slider-image" src="/images/Eldeseo1.jpg">
              </li>
              <li class="slider-item">
                <img class="slider-image" src="/images/Eldeseo2.jpg">
              </li>
              <li class="slider-item">
                <img class="slider-image" src="/images/Eldeseo3.jpg">
              </li>
              <li class="slider-item">
                <img class="slider-image" src="/images/Eldeseo4.jpg">
              </li>
              <li class="slider-item">
                <img class="slider-image" src="/images/Eldeseo5.jpg">
              </li>
            </ul>
          </div>
          <div class="slider-text">
            <h2>VENI A DISFRUTAR TU ESTADIA</h2>
            <p>Aquí encontrarás a la naturaleza, al misterio y te llenarás de energía</p>
            <button>Solamente es necesario que hagas realidad <span class="deseo">TU DESEO</span></button>
          </div>
        </section>
        <section class="info-home">
          <h2 class="title">Informacion sobre las cabañas</h2>
          <div class="info">
            <ul>
              <li>
                <h3>Ubicacion</h3>
                <p>Nuestras Cabañas cuentan con una hermosa piscina, desde donde pueden apreciarse los cerro
                  capillenses.</p>
              </li>
              <li>
                <h3>Capacidad</h3>
                <p>Las cabañas están totalmente equipadas para recibir hasta 5 personas.</p>
              </li>
              <li>
                <h3>Generales</h3>
                <p>Wifi, Ropa de cama, TV por cable, Parrilleros, Quincho, Cocheras cubiertas.</p>
              </li>
              <li>
                <h3>Comodidad</h3>
                <p>Habitaciones principales con puertas balcón y Aire Acondicionado.</p>
              </li>
            </ul>
          </div>
        </section>
        <p style="font-size: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, nam officiis atque nobis quasi laborum nemo id dolor ducimus dolorem accusantium obcaecati. Quasi eum officiis unde consequuntur odio, nisi quos!</p>
      </main>
  </body>

</html>